body{
    background-color: aliceblue;
}
.box::after{
    border: 2px solid black;
    content:'';
    display:block;
    clear:both;
    content:'';
    display:block;
    clear:both;
}
.foodLvl{
    border: 2px solid black;
    width: 300px;
    height: 30px;
    background: green;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 30px;
    background: green;
    display: flex;
    flex-direction: row;
}
.funLvl{
    border: 2px solid black;
    width: 300px;
    height: 30px;
    background: green; 
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 30px;
    background: green; 
    display: flex;
    flex-direction: row;
}
.cleanlinessLvl{
    border: 2px solid black;
    width: 300px;
    height: 30px;
    background: green;
    display: flex;
    flex-direction: row;
}
.bar{
    border: 1px solid black;
    width:20%;
}

.buttons{
    background-color: grey;
    display: inline-block;
  
}

.buttons :hover{
    cursor: pointer;
    opacity: 30%;
}
.foodProgressBar {
    
   width: 500px;
   height: 20px; 
   color: red;
   background-image: linear-gradient(to right, red, green);
   background-size: 30vw 100%;
   background-repeat: no-repeat;
   transition: witdth 0.3s ease;
   
}